Source: pantheon-print
Section: misc
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 8.0.0),
               libgtk-3-dev,
               valac (>= 0.14) | valac-0.14
Standards-Version: 3.9.2
Homepage: https://launchpad.net/pantheon-print

Package: pantheon-print
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: contractor
Enhances: contractor
Replaces: contractor (<< 0.2-0~r11)
Breaks: contractor (<< 0.2-0~r11)
Description: Printing support for Contractor
 This package allows applications to print files over Contractor instead of
 implementing printing support themselves.

Package: pantheon-print-dbg
Architecture: any
Section: debug
Priority: extra
Depends: pantheon-print (= ${binary:Version}), ${misc:Depends}
Enhances: pantheon-print
Description: Printing support for Contractor (debugging symbols)
 This package allows applications to print files over Contractor instead of
 implementing printing support themselves.
 .
 This package contains debugging symbols for pantheon-print.
