Source: io.elementary.print
Section: misc
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libgtk-3-dev,
               meson,
               valac (>= 0.26)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/print

Package: io.elementary.print
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: contractor
Enhances: contractor
Description: Printing support for Contractor
 This package allows applications to print files over Contractor instead of
 implementing printing support themselves.

Package: pantheon-print
Architecture: any
Section: oldlibs
Priority: optional
Depends: io.elementary.print, ${misc:Depends}
Description: transitional dummy package
 This is a transitional dummy package, it is safe to remove.
